.container {
    font-size: 25px;
    width: 800px;
    margin: 0 230px;
    padding: 30px;
    background-color: rgb(247, 229, 178);
}
.homeContainer {
    font-size: 25px;
    width: 500px;
    margin: 0 230px;
    padding: 30px;
    background-color: rgb(247, 229, 178);
    text-align: center; 
}
.container2 {
    padding: 30px;
    background-color: blanchedalmond;
}
.fpcontainer {
    margin: 0 230px;
    width: 400px;
}
.top {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    text-align: center;
}
.list {
    margin: 10px 0;
    padding: 10px 0;
}

